/* body {
    height: 1000px;
} */


.grecaptcha-badge {
    bottom: 0.3vh !important;
    right: 0.3vh !important;
    transform: scale(0.9) !important;
    visibility: hidden;

    /* transform-origin: bottom right !important; */
}