JWT_ACCESS_COOKIE_NAME = 'jwt'
JWT_SECRET_KEY = 'your_random_secret_key'
SECRET_KEY = 'your_random_secret_key'
MAIL_USERNAME = 'your_gmail_email@gmail.com'
MAIL_PASSWORD = 'your gmail api key'
RECAPTCHA_SECRET_KEY = 'your_google_recaptcha_secret_key'

TESTING=False
DEBUG = True

MAIN_DATABASE_FILENAME = 'wwhypda.db'
USERS_DATABASE_FILENAME = 'users_data.db'
MAIL_SERVER = 'smtp.gmail.com'
MAIL_PORT = '465'

SWAGGER_URL = '/swagger' 
API_URL = '/static/swagger.json' 
ACCESS_EXPIRES_SECONDS=21600
REFRESH_EXPIRES_SECONDS=86400
