

.submitButton {
    background-color: var(--menu);
    color: var(--submit-button-text);
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-sizing: border-box;  
    font-family: Afacad_Flux !important;
    font-size: var(--button-font-size);
    transition: 0.5s;
    height: 5vh;
}


.submitButton:hover {
    transition: 0.5s;
    color: var(--submit-button-text-hover);
    background-color: var(--submit-button-hover);
    
}
.submitButton:active  {
    transition: 0.5s;
    background-color: var(--submit-button-active);
    color: var(--submit-button-text);
    transition: 0.5s;
}

.treeText{
    color: var(--tree-text);
    font-family: Afacad_Flux !important;
    font-size: var(--main-font-size);
}


.searchTableRow{
    display: block;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.5s;
}
.searchTableRow:hover{
    background: var(--scrollbar-hover-color); 
    transition: 0.5s;
}


.wrap-td {
  max-width: 200px;
  word-break: break-word;
  white-space: normal;
}