--
-- PostgreSQL database dump
--

\restrict qWaPYVCCqJYm0DsGKCX5yFRpep69nPSUReTB6N0gToOR6j2RJ0G9uYPbes3RVu3

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: confirmation_codes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.confirmation_codes (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    code character varying(10) NOT NULL,
    created_at timestamp without time zone,
    type character varying(50) NOT NULL
);


--
-- Name: input_data; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.input_data (
    id integer NOT NULL,
    user_id integer NOT NULL,
    name character varying(20),
    created_at timestamp without time zone,
    status character varying(20),
    editing_by character varying(100),
    general_info jsonb NOT NULL,
    measurements jsonb NOT NULL,
    samples jsonb NOT NULL,
    site_info jsonb NOT NULL,
    source_info jsonb NOT NULL,
    comment character varying(600)
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(200) NOT NULL,
    active boolean,
    is_superuser boolean
);


--
-- Data for Name: confirmation_codes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: input_data; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: confirmation_codes confirmation_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.confirmation_codes
    ADD CONSTRAINT confirmation_codes_pkey PRIMARY KEY (id);


--
-- Name: input_data input_data_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.input_data
    ADD CONSTRAINT input_data_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict qWaPYVCCqJYm0DsGKCX5yFRpep69nPSUReTB6N0gToOR6j2RJ0G9uYPbes3RVu3

