--
-- PostgreSQL database dump
--

\restrict kzbIJ7YQGxOw9jqyzgcdw9yzc98lrg9dT1uLUQPMqMK9rto5gBH4R9ojOEcH87t

-- Dumped from database version 15.17
-- Dumped by pg_dump version 15.17

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Coherence; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Coherence" (
    "id_Coherence" integer NOT NULL,
    coher_value character varying(20) NOT NULL
);


--
-- Name: Colour_code; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Colour_code" (
    "id_Colour_code" integer NOT NULL,
    geol_description character varying(80) DEFAULT NULL::character varying,
    id_sgems_cc character varying(10) NOT NULL,
    rt_id_color integer NOT NULL,
    id_img integer NOT NULL
);


--
-- Name: Contact; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Contact" (
    "id_Contact" integer NOT NULL,
    full_name character varying(100) DEFAULT NULL::character varying,
    e_mail character varying(100) NOT NULL,
    privacy integer NOT NULL,
    login character varying(10) NOT NULL,
    passwd character varying(10) NOT NULL,
    id_cty integer NOT NULL,
    id_org integer NOT NULL
);


--
-- Name: Contact_id_Contact_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Contact_id_Contact_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Contact_id_Contact_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Contact_id_Contact_seq" OWNED BY public."Contact"."id_Contact";


--
-- Name: Contact_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Contact_type" (
    "id_Contact_type" integer NOT NULL,
    contact_description character varying(20) NOT NULL
);


--
-- Name: Country; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Country" (
    "ISO_code" character(3) DEFAULT 'AAA'::bpchar NOT NULL,
    country_name character varying(50) NOT NULL
);


--
-- Name: Environment; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Environment" (
    env_id integer NOT NULL,
    env_name character varying(100) NOT NULL,
    env_description character varying(500) NOT NULL,
    env_wiki_link character varying(500) DEFAULT NULL::character varying,
    env_id_parent integer NOT NULL,
    "UID" character varying(50) DEFAULT NULL::character varying,
    "PARENTUID" character varying(50) DEFAULT NULL::character varying,
    "env_Status" integer DEFAULT 0 NOT NULL
);


--
-- Name: Environment_env_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Environment_env_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Environment_env_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Environment_env_id_seq" OWNED BY public."Environment".env_id;


--
-- Name: Experiment_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Experiment_type" (
    "id_Exp_type" integer NOT NULL,
    exp_name character varying(100) NOT NULL,
    exp_description character varying(500) NOT NULL,
    exp_status integer DEFAULT 0 NOT NULL
);


--
-- Name: Experiment_type_id_Exp_type_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Experiment_type_id_Exp_type_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Experiment_type_id_Exp_type_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Experiment_type_id_Exp_type_seq" OWNED BY public."Experiment_type"."id_Exp_type";


--
-- Name: Fracturation; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Fracturation" (
    id_fracturation integer NOT NULL,
    fracturation_degree character varying(20) NOT NULL
);


--
-- Name: Fracturation_id_fracturation_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Fracturation_id_fracturation_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Fracturation_id_fracturation_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Fracturation_id_fracturation_seq" OWNED BY public."Fracturation".id_fracturation;


--
-- Name: Image; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Image" (
    "id_Image" integer NOT NULL,
    file_name character varying(20) NOT NULL,
    file_format character varying(20) NOT NULL,
    file_location character varying(20) NOT NULL,
    image_description character varying(256) NOT NULL,
    id_src_img integer NOT NULL,
    env_id_img integer NOT NULL
);


--
-- Name: Interpretation_method; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Interpretation_method" (
    "id_Int_meth" integer NOT NULL,
    int_meth_name character varying(100) NOT NULL,
    int_meth_desc character varying(500) NOT NULL,
    "id_Exp_ty" integer NOT NULL,
    int_meth_status integer DEFAULT 0 NOT NULL
);


--
-- Name: Interpretation_method_id_Int_meth_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Interpretation_method_id_Int_meth_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Interpretation_method_id_Int_meth_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Interpretation_method_id_Int_meth_seq" OWNED BY public."Interpretation_method"."id_Int_meth";


--
-- Name: Measure; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Measure" (
    "id_Measure" integer NOT NULL,
    msr_comment character varying(500) DEFAULT NULL::character varying,
    msr_value double precision NOT NULL,
    error double precision,
    coher_date timestamp without time zone,
    coher_n_val integer,
    id_smpl integer NOT NULL,
    id_coh integer DEFAULT 0 NOT NULL,
    id_ex_ty integer NOT NULL,
    id_par_msr integer NOT NULL,
    id_int_mtd integer NOT NULL,
    id_qlt integer NOT NULL
);


--
-- Name: Measure_group; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Measure_group" (
    "id_Measure_group" integer NOT NULL,
    mg_date timestamp without time zone NOT NULL,
    mg_comment character varying(500) DEFAULT NULL::character varying,
    id_src integer NOT NULL,
    id_rew integer NOT NULL,
    id_env integer NOT NULL,
    id_cnt integer NOT NULL,
    id_pnt integer NOT NULL,
    "mgr_spreasheetID" character varying(100) DEFAULT NULL::character varying,
    "mgr_DuplicationWarning" integer DEFAULT 0 NOT NULL,
    "mgr_CoherenceWarning" integer DEFAULT 0 NOT NULL,
    "mgr_UpdateWarning" integer DEFAULT 0 NOT NULL
);


--
-- Name: Measure_group_id_Measure_group_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Measure_group_id_Measure_group_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Measure_group_id_Measure_group_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Measure_group_id_Measure_group_seq" OWNED BY public."Measure_group"."id_Measure_group";


--
-- Name: Measure_id_Measure_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Measure_id_Measure_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Measure_id_Measure_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Measure_id_Measure_seq" OWNED BY public."Measure"."id_Measure";


--
-- Name: Organization; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Organization" (
    "id_Organization" integer NOT NULL,
    org_name character varying(100) DEFAULT NULL::character varying,
    city character varying(100) DEFAULT NULL::character varying,
    id_country character(3) DEFAULT 'AAA'::bpchar NOT NULL
);


--
-- Name: Organization_id_Organization_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Organization_id_Organization_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Organization_id_Organization_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Organization_id_Organization_seq" OWNED BY public."Organization"."id_Organization";


--
-- Name: Palette; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Palette" (
    sgems_color_code character(6) NOT NULL,
    color_name character varying(15) NOT NULL
);


--
-- Name: Par_Exp; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Par_Exp" (
    "id_Par" integer NOT NULL,
    "id_Exp_ty" integer NOT NULL
);


--
-- Name: Parameter; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Parameter" (
    "id_Parameter" integer NOT NULL,
    code character varying(10) NOT NULL,
    param_name character varying(30) NOT NULL,
    units character varying(10) NOT NULL,
    html_code character varying(30) NOT NULL,
    html_units character varying(50) NOT NULL,
    "MaxValue" double precision NOT NULL,
    "MinValue" double precision NOT NULL
);


--
-- Name: Quality; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Quality" (
    "id_Quality" integer NOT NULL,
    quality_level character varying(20) NOT NULL
);


--
-- Name: Review; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Review" (
    "id_Review" integer NOT NULL,
    review_level character varying(70) NOT NULL
);


--
-- Name: Rock_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Rock_type" (
    rt_id integer NOT NULL,
    rt_name character varying(100) NOT NULL,
    rt_description character varying(500) DEFAULT NULL::character varying,
    rt_wiki_link character varying(500) DEFAULT NULL::character varying,
    rt_left integer NOT NULL,
    rt_right integer NOT NULL,
    rt_id_parent integer NOT NULL,
    "rt_USCS" character varying(5) DEFAULT NULL::character varying,
    "UID" character varying(50) DEFAULT NULL::character varying,
    "PARENTUID" character varying(50) DEFAULT NULL::character varying,
    rt_status integer DEFAULT 0 NOT NULL
);


--
-- Name: Rock_type_rt_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Rock_type_rt_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Rock_type_rt_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Rock_type_rt_id_seq" OWNED BY public."Rock_type".rt_id;


--
-- Name: Sample; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Sample" (
    "id_Sample" integer NOT NULL,
    "key_Fract" integer NOT NULL,
    key_rt integer NOT NULL,
    "key_Scale" integer NOT NULL,
    "key_Mgroup" integer NOT NULL,
    sample_name character varying(30) NOT NULL,
    sample_comment character varying(500) DEFAULT NULL::character varying
);


--
-- Name: Sample_id_Sample_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Sample_id_Sample_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Sample_id_Sample_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Sample_id_Sample_seq" OWNED BY public."Sample"."id_Sample";


--
-- Name: Scale; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Scale" (
    "id_Scale" integer NOT NULL,
    scale_value character varying(50) NOT NULL,
    scale_descr character varying(125) DEFAULT NULL::character varying
);


--
-- Name: Site_info; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Site_info" (
    site_id integer NOT NULL,
    site_name character varying(100) NOT NULL,
    region character varying(100) NOT NULL,
    longitude double precision,
    latitude double precision,
    iso_country character(3) NOT NULL
);


--
-- Name: Site_info_site_id_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Site_info_site_id_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Site_info_site_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Site_info_site_id_seq" OWNED BY public."Site_info".site_id;


--
-- Name: Source; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Source" (
    "id_Source" integer NOT NULL,
    authors character varying(200) NOT NULL,
    title character varying(200) NOT NULL,
    "year_Source" integer NOT NULL,
    doi character varying(500) DEFAULT NULL::character varying,
    publisher character varying(200) NOT NULL,
    pages character varying(20) DEFAULT NULL::character varying,
    sou_link character varying(500) DEFAULT NULL::character varying
);


--
-- Name: Source_id_Source_seq; Type: SEQUENCE; Schema: public; Owner: -
--

CREATE SEQUENCE public."Source_id_Source_seq"
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- Name: Source_id_Source_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: -
--

ALTER SEQUENCE public."Source_id_Source_seq" OWNED BY public."Source"."id_Source";


--
-- Name: Status; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Status" (
    "id_Status" integer NOT NULL,
    sta_name character varying(30) NOT NULL
);


--
-- Name: Variogram; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Variogram" (
    "id_Variogram" integer NOT NULL,
    sill double precision,
    range_m double precision,
    range_s double precision,
    nugget_effect double precision,
    param_list character varying(30) DEFAULT NULL::character varying,
    id_msr_vario integer NOT NULL,
    id_vario_type integer NOT NULL,
    id_param integer NOT NULL,
    rt_id_vario integer
);


--
-- Name: Variogram_type; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."Variogram_type" (
    "id_Variogram_type" integer NOT NULL,
    variogram_type_name character varying(20) NOT NULL,
    variogram_def character varying(20) DEFAULT NULL::character varying
);


--
-- Name: confirmation_codes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.confirmation_codes (
    id integer NOT NULL,
    email character varying(100) NOT NULL,
    code character varying(10) NOT NULL,
    created_at timestamp without time zone,
    type character varying(50) NOT NULL
);


--
-- Name: count_wwhypda; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.count_wwhypda (
    cou_rt_name character varying(100) DEFAULT NULL::character varying,
    "cou_rt_UID" character varying(50) DEFAULT NULL::character varying,
    cou_comp integer,
    cou_cond integer,
    cou_perm integer,
    cou_poro integer,
    cou_epor integer,
    cou_ssto integer,
    cou_lodi integer,
    cou_trdi integer,
    cou_syel integer,
    cou_rt_id integer,
    cou_tota integer
);


--
-- Name: trig4oneRow; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public."trig4oneRow" (
    x integer
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id integer NOT NULL,
    name character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password character varying(200) NOT NULL,
    active boolean,
    is_superuser boolean
);


--
-- Name: Contact id_Contact; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact" ALTER COLUMN "id_Contact" SET DEFAULT nextval('public."Contact_id_Contact_seq"'::regclass);


--
-- Name: Environment env_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Environment" ALTER COLUMN env_id SET DEFAULT nextval('public."Environment_env_id_seq"'::regclass);


--
-- Name: Experiment_type id_Exp_type; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Experiment_type" ALTER COLUMN "id_Exp_type" SET DEFAULT nextval('public."Experiment_type_id_Exp_type_seq"'::regclass);


--
-- Name: Fracturation id_fracturation; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Fracturation" ALTER COLUMN id_fracturation SET DEFAULT nextval('public."Fracturation_id_fracturation_seq"'::regclass);


--
-- Name: Interpretation_method id_Int_meth; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Interpretation_method" ALTER COLUMN "id_Int_meth" SET DEFAULT nextval('public."Interpretation_method_id_Int_meth_seq"'::regclass);


--
-- Name: Measure id_Measure; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Measure" ALTER COLUMN "id_Measure" SET DEFAULT nextval('public."Measure_id_Measure_seq"'::regclass);


--
-- Name: Measure_group id_Measure_group; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Measure_group" ALTER COLUMN "id_Measure_group" SET DEFAULT nextval('public."Measure_group_id_Measure_group_seq"'::regclass);


--
-- Name: Organization id_Organization; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Organization" ALTER COLUMN "id_Organization" SET DEFAULT nextval('public."Organization_id_Organization_seq"'::regclass);


--
-- Name: Rock_type rt_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rock_type" ALTER COLUMN rt_id SET DEFAULT nextval('public."Rock_type_rt_id_seq"'::regclass);


--
-- Name: Sample id_Sample; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Sample" ALTER COLUMN "id_Sample" SET DEFAULT nextval('public."Sample_id_Sample_seq"'::regclass);


--
-- Name: Site_info site_id; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Site_info" ALTER COLUMN site_id SET DEFAULT nextval('public."Site_info_site_id_seq"'::regclass);


--
-- Name: Source id_Source; Type: DEFAULT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Source" ALTER COLUMN "id_Source" SET DEFAULT nextval('public."Source_id_Source_seq"'::regclass);


--
-- Data for Name: Coherence; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Coherence" ("id_Coherence", coher_value) FROM stdin;
0	not computed
1	low
2	medium
3	high
\.


--
-- Data for Name: Colour_code; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Colour_code" ("id_Colour_code", geol_description, id_sgems_cc, rt_id_color, id_img) FROM stdin;
\.


--
-- Data for Name: Contact; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Contact_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Contact_type" ("id_Contact_type", contact_description) FROM stdin;
0	Administrator
1	Advanced contributor
2	Contributor
3	Simple user
\.


--
-- Data for Name: Country; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Environment; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Experiment_type; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Fracturation; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Fracturation" (id_fracturation, fracturation_degree) FROM stdin;
1	null
2	low
3	medium
4	high
5	-- unknown --
\.


--
-- Data for Name: Image; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Image" ("id_Image", file_name, file_format, file_location, image_description, id_src_img, env_id_img) FROM stdin;
\.


--
-- Data for Name: Interpretation_method; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Measure; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: Measure_group; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Measure_group" ("id_Measure_group", mg_date, mg_comment, id_src, id_rew, id_env, id_cnt, id_pnt, "mgr_spreasheetID", "mgr_DuplicationWarning", "mgr_CoherenceWarning", "mgr_UpdateWarning") FROM stdin;
\.


--
-- Data for Name: Organization; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Organization" ("id_Organization", org_name, city, id_country) FROM stdin;
\.


--
-- Data for Name: Palette; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Palette" (sgems_color_code, color_name) FROM stdin;
\.


--
-- Data for Name: Par_Exp; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Par_Exp" ("id_Par", "id_Exp_ty") FROM stdin;
\.


--
-- Data for Name: Parameter; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Parameter" ("id_Parameter", code, param_name, units, html_code, html_units, "MaxValue", "MinValue") FROM stdin;
\.


--
-- Data for Name: Quality; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Quality" ("id_Quality", quality_level) FROM stdin;
\.


--
-- Data for Name: Review; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Review" ("id_Review", review_level) FROM stdin;
\.


--
-- Data for Name: Rock_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Rock_type" (rt_id, rt_name, rt_description, rt_wiki_link, rt_left, rt_right, rt_id_parent, "rt_USCS", "UID", "PARENTUID", rt_status) FROM stdin;
\.


--
-- Data for Name: Sample; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Sample" ("id_Sample", "key_Fract", key_rt, "key_Scale", "key_Mgroup", sample_name, sample_comment) FROM stdin;
\.


--
-- Data for Name: Scale; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Scale" ("id_Scale", scale_value, scale_descr) FROM stdin;
\.


--
-- Data for Name: Site_info; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Site_info" (site_id, site_name, region, longitude, latitude, iso_country) FROM stdin;
\.


--
-- Data for Name: Source; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Source" ("id_Source", authors, title, "year_Source", doi, publisher, pages, sou_link) FROM stdin;
\.


--
-- Data for Name: Status; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Status" ("id_Status", sta_name) FROM stdin;
\.


--
-- Data for Name: Variogram; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Variogram" ("id_Variogram", sill, range_m, range_s, nugget_effect, param_list, id_msr_vario, id_vario_type, id_param, rt_id_vario) FROM stdin;
\.


--
-- Data for Name: Variogram_type; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."Variogram_type" ("id_Variogram_type", variogram_type_name, variogram_def) FROM stdin;
\.


--
-- Data for Name: confirmation_codes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.confirmation_codes (id, email, code, created_at, type) FROM stdin;
\.


--
-- Data for Name: count_wwhypda; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.count_wwhypda (cou_rt_name, "cou_rt_UID", cou_comp, cou_cond, cou_perm, cou_poro, cou_epor, cou_ssto, cou_lodi, cou_trdi, cou_syel, cou_rt_id, cou_tota) FROM stdin;
\.


--
-- Data for Name: trig4oneRow; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public."trig4oneRow" (x) FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.users (id, name, email, password, active, is_superuser) FROM stdin;
\.


--
-- Name: Contact_id_Contact_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Contact_id_Contact_seq"', 1, false);


--
-- Name: Environment_env_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Environment_env_id_seq"', 1, false);


--
-- Name: Experiment_type_id_Exp_type_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Experiment_type_id_Exp_type_seq"', 1, false);


--
-- Name: Fracturation_id_fracturation_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Fracturation_id_fracturation_seq"', 1, false);


--
-- Name: Interpretation_method_id_Int_meth_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Interpretation_method_id_Int_meth_seq"', 1, false);


--
-- Name: Measure_group_id_Measure_group_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Measure_group_id_Measure_group_seq"', 1, false);


--
-- Name: Measure_id_Measure_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Measure_id_Measure_seq"', 1, false);


--
-- Name: Organization_id_Organization_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Organization_id_Organization_seq"', 1, false);


--
-- Name: Rock_type_rt_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Rock_type_rt_id_seq"', 1, false);


--
-- Name: Sample_id_Sample_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Sample_id_Sample_seq"', 1, false);


--
-- Name: Site_info_site_id_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Site_info_site_id_seq"', 1, false);


--
-- Name: Source_id_Source_seq; Type: SEQUENCE SET; Schema: public; Owner: -
--

SELECT pg_catalog.setval('public."Source_id_Source_seq"', 1, false);


--
-- Name: Coherence Coherence_coher_value_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Coherence"
    ADD CONSTRAINT "Coherence_coher_value_key" UNIQUE (coher_value);


--
-- Name: Coherence Coherence_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Coherence"
    ADD CONSTRAINT "Coherence_pkey" PRIMARY KEY ("id_Coherence");


--
-- Name: Colour_code Colour_code_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Colour_code"
    ADD CONSTRAINT "Colour_code_pkey" PRIMARY KEY ("id_Colour_code");


--
-- Name: Contact Contact_full_name_e_mail_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_full_name_e_mail_key" UNIQUE (full_name, e_mail);


--
-- Name: Contact Contact_login_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_login_key" UNIQUE (login);


--
-- Name: Contact Contact_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact"
    ADD CONSTRAINT "Contact_pkey" PRIMARY KEY ("id_Contact");


--
-- Name: Contact_type Contact_type_contact_description_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact_type"
    ADD CONSTRAINT "Contact_type_contact_description_key" UNIQUE (contact_description);


--
-- Name: Contact_type Contact_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Contact_type"
    ADD CONSTRAINT "Contact_type_pkey" PRIMARY KEY ("id_Contact_type");


--
-- Name: Country Country_country_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Country"
    ADD CONSTRAINT "Country_country_name_key" UNIQUE (country_name);


--
-- Name: Country Country_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Country"
    ADD CONSTRAINT "Country_pkey" PRIMARY KEY ("ISO_code");


--
-- Name: Environment Environment_UID_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Environment"
    ADD CONSTRAINT "Environment_UID_key" UNIQUE ("UID");


--
-- Name: Environment Environment_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Environment"
    ADD CONSTRAINT "Environment_pkey" PRIMARY KEY (env_id);


--
-- Name: Experiment_type Experiment_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Experiment_type"
    ADD CONSTRAINT "Experiment_type_pkey" PRIMARY KEY ("id_Exp_type");


--
-- Name: Fracturation Fracturation_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Fracturation"
    ADD CONSTRAINT "Fracturation_pkey" PRIMARY KEY (id_fracturation);


--
-- Name: Image Image_file_name_file_format_file_location_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_file_name_file_format_file_location_key" UNIQUE (file_name, file_format, file_location);


--
-- Name: Image Image_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Image"
    ADD CONSTRAINT "Image_pkey" PRIMARY KEY ("id_Image");


--
-- Name: Interpretation_method Interpretation_method_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Interpretation_method"
    ADD CONSTRAINT "Interpretation_method_pkey" PRIMARY KEY ("id_Int_meth");


--
-- Name: Measure_group Measure_group_mg_date_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Measure_group"
    ADD CONSTRAINT "Measure_group_mg_date_key" UNIQUE (mg_date);


--
-- Name: Measure_group Measure_group_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Measure_group"
    ADD CONSTRAINT "Measure_group_pkey" PRIMARY KEY ("id_Measure_group");


--
-- Name: Measure Measure_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Measure"
    ADD CONSTRAINT "Measure_pkey" PRIMARY KEY ("id_Measure");


--
-- Name: Organization Organization_org_name_city_id_country_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Organization"
    ADD CONSTRAINT "Organization_org_name_city_id_country_key" UNIQUE (org_name, city, id_country);


--
-- Name: Organization Organization_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Organization"
    ADD CONSTRAINT "Organization_pkey" PRIMARY KEY ("id_Organization");


--
-- Name: Palette Palette_color_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Palette"
    ADD CONSTRAINT "Palette_color_name_key" UNIQUE (color_name);


--
-- Name: Palette Palette_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Palette"
    ADD CONSTRAINT "Palette_pkey" PRIMARY KEY (sgems_color_code);


--
-- Name: Parameter Parameter_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Parameter"
    ADD CONSTRAINT "Parameter_code_key" UNIQUE (code);


--
-- Name: Parameter Parameter_html_code_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Parameter"
    ADD CONSTRAINT "Parameter_html_code_key" UNIQUE (html_code);


--
-- Name: Parameter Parameter_param_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Parameter"
    ADD CONSTRAINT "Parameter_param_name_key" UNIQUE (param_name);


--
-- Name: Parameter Parameter_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Parameter"
    ADD CONSTRAINT "Parameter_pkey" PRIMARY KEY ("id_Parameter");


--
-- Name: Quality Quality_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quality"
    ADD CONSTRAINT "Quality_pkey" PRIMARY KEY ("id_Quality");


--
-- Name: Quality Quality_quality_level_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Quality"
    ADD CONSTRAINT "Quality_quality_level_key" UNIQUE (quality_level);


--
-- Name: Review Review_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_pkey" PRIMARY KEY ("id_Review");


--
-- Name: Review Review_review_level_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Review"
    ADD CONSTRAINT "Review_review_level_key" UNIQUE (review_level);


--
-- Name: Rock_type Rock_type_UID_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rock_type"
    ADD CONSTRAINT "Rock_type_UID_key" UNIQUE ("UID");


--
-- Name: Rock_type Rock_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rock_type"
    ADD CONSTRAINT "Rock_type_pkey" PRIMARY KEY (rt_id);


--
-- Name: Rock_type Rock_type_rt_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Rock_type"
    ADD CONSTRAINT "Rock_type_rt_name_key" UNIQUE (rt_name);


--
-- Name: Sample Sample_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Sample"
    ADD CONSTRAINT "Sample_pkey" PRIMARY KEY ("id_Sample");


--
-- Name: Scale Scale_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Scale"
    ADD CONSTRAINT "Scale_pkey" PRIMARY KEY ("id_Scale");


--
-- Name: Scale Scale_scale_value_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Scale"
    ADD CONSTRAINT "Scale_scale_value_key" UNIQUE (scale_value);


--
-- Name: Site_info Site_info_longitude_latitude_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Site_info"
    ADD CONSTRAINT "Site_info_longitude_latitude_key" UNIQUE (longitude, latitude);


--
-- Name: Site_info Site_info_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Site_info"
    ADD CONSTRAINT "Site_info_pkey" PRIMARY KEY (site_id);


--
-- Name: Site_info Site_info_site_name_region_iso_country_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Site_info"
    ADD CONSTRAINT "Site_info_site_name_region_iso_country_key" UNIQUE (site_name, region, iso_country);


--
-- Name: Source Source_authors_title_year_Source_publisher_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Source"
    ADD CONSTRAINT "Source_authors_title_year_Source_publisher_key" UNIQUE (authors, title, "year_Source", publisher);


--
-- Name: Source Source_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Source"
    ADD CONSTRAINT "Source_pkey" PRIMARY KEY ("id_Source");


--
-- Name: Status Status_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Status"
    ADD CONSTRAINT "Status_pkey" PRIMARY KEY ("id_Status");


--
-- Name: Variogram Variogram_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Variogram"
    ADD CONSTRAINT "Variogram_pkey" PRIMARY KEY ("id_Variogram");


--
-- Name: Variogram_type Variogram_type_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Variogram_type"
    ADD CONSTRAINT "Variogram_type_pkey" PRIMARY KEY ("id_Variogram_type");


--
-- Name: Variogram_type Variogram_type_variogram_type_name_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public."Variogram_type"
    ADD CONSTRAINT "Variogram_type_variogram_type_name_key" UNIQUE (variogram_type_name);


--
-- Name: confirmation_codes confirmation_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.confirmation_codes
    ADD CONSTRAINT confirmation_codes_pkey PRIMARY KEY (id);


--
-- Name: users users_email_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_email_key UNIQUE (email);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- PostgreSQL database dump complete
--

\unrestrict kzbIJ7YQGxOw9jqyzgcdw9yzc98lrg9dT1uLUQPMqMK9rto5gBH4R9ojOEcH87t

